.SrvHeader {
    top: 100px;
}
h3 {
    padding-top: 0px;
    text-align: left;
}
.LangSelect {
    position: relative;
    text-align: right;
    z-index: 0;
    top: 100px;
}
.LangSelect ul{
    padding: 10px;
}
.Survey {
    margin-top: 0px;
    padding: 10px;
}
.Span {
    margin-right: 0px;
    padding: 0px;
}
.ContentCard {
    margin-top: 0px;
}
.Point07 .ResponseSet {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .EmojiRated .RatedQuest .Selector .Wrapper:hover {
    color: transparent !important;
}
.Point07 td.Mobile.Label.Right:after {
    content: none;
    white-space: normal;
}
.Point07 td.Mobile.Label.Left:before {
    content: none;
    white-space: normal;
}
.Point07.LH .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {
    width: auto;
}
td.Mobile.Label.Left {
    margin-left: -2%;
}
  
.Point07.HL .EmojiRated .RatedQuest .Selector div {
    visibility: visible !important;
    color: transparent;
    background-color: transparent !important;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ContentCard {
        margin-top: 70px;
    }
    .Point07.LH .EmojiRated .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {
        height: auto !important;
        width: auto !important;
    }
    .PRSection .EmojiRated .DemoResp .Wrapper.active, .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector .Wrapper.active, .DemoQuest .EmojiRated .DemoResp .Wrapper .active {
        height: 35px !important;
        background-size: 100% 100% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .PRSection .EmojiRated .DemoResp .Wrapper.active, .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector .Wrapper.active, .DemoQuest .EmojiRated .DemoResp .Wrapper .active {
        height: 48px !important;
        background-size: 100% 100% !important;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    td.Label.Center {
        max-width: 60px;
        font-size: .8em;
    }
   
}
@media (min-width: 1000px) {
    
    .DemoQuest .Span, .RatedQuest .RatedQuest {
        width: 55%;
    }
    .Point07 .RatedSection .RatedQuest td.Selector {
       width: auto;
    }
    td.Label.Center {
        max-width: 60px;
    }
  
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .buttonshape .RatedQuest .Selector .Wrapper {
       margin: 0 auto;
    }
    
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .RatedQuest .Selector .Wrapper {
        margin: 0 auto;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 35px;
        width: 40px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 35px;
        width: 40px;
    }
    .Allrestro{
        text-align: center;
    }
}

@media screen and (max-wdith:2500px)
{
    .Point07 .ResponseSet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/*for tablets*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .FullExpand.SixButtons .DemoResp{
        width: 160px;
    }    
}
@media only screen and (min-width: 800px) {
    .Instruction h3{
        font-size: 25px;
    }
}

@media screen and (min-width:768px)
{
    .Instruction h3{
        font-size: 24px;
    }
    #dfd647e3d2b3427c9db4ea14105f501c , #f50d83405c964628a1f7c4952d649372 ,.other{
        height: 54.8px;
    }
    #dfd647e3d2b3427c9db4ea14105f501c .Wrapper , #f50d83405c964628a1f7c4952d649372 .Wrapper , .other .Wrapper{
        height: 37.4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 48px;
        width: 55px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(19) .Wrapper {
        height: 48px;
        width: 55px;
    }
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 5px;
    }
}
@media screen and (max-width:768px)
{
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(19) .Wrapper {
        height: 35px;
        width: 35px;
    }
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 15px;
    }
    #f8ed5f1e72a74e2fb99a610e5e310a1b , .app , #dbe71de6521e46a6b9ea2657b86697c5{
        height: 62.2px;
    }
    #f8ed5f1e72a74e2fb99a610e5e310a1b .Wrapper, .app .Wrapper , #dbe71de6521e46a6b9ea2657b86697c5 .Wrapper{
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:712px){
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 12px;
    }
}
@media screen and (max-width:700px)
{
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 35px;
        width: 35px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(19) .Wrapper {
        height: 35px;
        width: 35px;
    }
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 6px;
    }
}
@media only screen and (max-width: 600px) {
    
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .RatedQuest .Selector .Wrapper {
        width: 1.1em !important;
    }
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .buttonshape .RatedQuest .Selector .Wrapper {
        width: 1.1em !important;
        height: 1.1em !important;
        border-radius: 20px !important;
        line-height: 2.1em;
        padding-top: 0px !important;

    }
    .Point07.LH .EmojiRated .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {
        height: auto !important;
        width: auto !important;
    }
    
   
    .Point07 .ResponseSet {
        margin: 0;
    }

    .PRSection .EmojiRated .DemoResp .Wrapper.active, .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector .Wrapper.active, .DemoQuest .EmojiRated .DemoResp .Wrapper .active {
        height: 20px !important;
    }
    /*
    #dfd647e3d2b3427c9db4ea14105f501c , #f50d83405c964628a1f7c4952d649372 , .ResponseSet .other{
        height: 74.6px;
    }*/
    #dfd647e3d2b3427c9db4ea14105f501c .Wrapper , #f50d83405c964628a1f7c4952d649372 .Wrapper , .ResponseSet .other .Wrapper{
        height: 78.56%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #c668090f1f3b49e3be67253a469f2aed , .print , #dcf3228d05c84962950e1c10b4d7a35d{
        height: 54.6px;
    }
    #c668090f1f3b49e3be67253a469f2aed .Wrapper , .print .Wrapper, #dcf3228d05c84962950e1c10b4d7a35d .Wrapper{
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 9px;
    }
    .RatedQuest .RatedQuest{
        margin-bottom: 15px;
    }
    .RatedQuest td.Mobile.Label.Left{
        font-size: 12px;
    }
    .RatedQuest td.Mobile.Label.Right{
        font-size: 12px;
    }
    .FullExpand .DemoQuest span{
        font-size: 15px;
    }
    .Point07 .DemoQuest .DemoResp .Wrapper{
        font-size: 15px;
    }
}
@media screen and (max-width:590px)
{
    .ContentCard {
        margin-top: 70px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 20px;
        width:  25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 20px;
        width: 25px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(19) .Wrapper {
        height: 20px;
        width: 25px;
    }
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 15px;
    }
}
@media screen and (max-width:500px){
    .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 5px;
    }
}
@media only screen and (max-width:470px){
    .Instruction h3 {
        font-size: 18px;
        display: flex;
        text-align: justify;
    }
}
@media only screen and (max-width:444px){
    .Instruction h3 {
        font-size: 17px;
        display: flex;
        text-align: justify;
    }
}

@media only screen and (max-width:422px){
    .Instruction h3 {
        font-size: 16px;
        display: flex;
        text-align: justify;
    }
    #f8ed5f1e72a74e2fb99a610e5e310a1b , .app , #dbe71de6521e46a6b9ea2657b86697c5 , #dfd647e3d2b3427c9db4ea14105f501c , #f50d83405c964628a1f7c4952d649372 , .other{
        height: 68.8px;
    }
    #f8ed5f1e72a74e2fb99a610e5e310a1b .Wrapper , .app .Wrapper , #dbe71de6521e46a6b9ea2657b86697c5 .Wrapper , #dfd647e3d2b3427c9db4ea14105f501c  .Wrapper , #f50d83405c964628a1f7c4952d649372 .Wrapper , .other .Wrapper{
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .FullExpand.SixButtons .DemoResp{
        width: calc(33.33% - 4px);
    }
}
@media screen and (max-width:400px)
{
    .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 2px;
    }
    #c2749041b7cd4048a98a97c7b4731bd3{
        height: 56.2px;
    }
}
@media only screen and (max-width:400px){
    .Instruction h3 {
        font-size: 15px;
        display: flex;
        text-align: justify;
    }
    .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 2px;
    }
}
@media only screen and (max-width:371px){
    .Instruction h3 {
        font-size: 14px;
        display: flex;
        text-align: justify;
    }
}
@media screen and (max-width:350px)
{
    .Instruction h3{
        font-size: 12px;
    }
    .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0;
    }
}
@media screen and (max-width:360px)
{
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(5) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(7) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(9) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(11) div{
        height: 16px;
        width:  10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(13) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(15) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(17) div{
        height: 16px;
        width: 10px;
    }
    .Point07.HL .EmojiRated .RatedQuest .Selector:nth-child(19) .Wrapper {
        height: 16px;
        width: 10px;
    }
    .EmojiRated .RatedSection .RatedQuest .Selector{
        margin: 0 4px;
    }
}