.SrvHeader {
    margin-top: 0px;
    top: 0px;
}
h3 {
    padding-top: 0px;
    text-align: left;
}
.LangSelect {
    position: relative;
    text-align: right;
    z-index: 0;
    top: 100px;
}
.LangSelect ul{
    padding: 10px;
}
.Survey {
    margin-top: 0px;
    padding: 10px;
}
.Span {
    margin-right: 0px;
    padding: 0px;
}
.ContentCard {
    margin-top: 0px;
}
.Point07 .ResponseSet {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.Point07.LH .EmojiRated .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {
    height: 35px !important;
    width: 35px !important;
}
.Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .EmojiRated .RatedQuest .Selector .Wrapper {
    height: 35px !important;
    width: 35px !important;
    background-size: 100% 100% !important;
}
.Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .EmojiRated .RatedQuest .Selector .Wrapper:hover {
    color: transparent !important;
}
.Point07 td.Mobile.Label.Right:after {
    content: none;
    white-space: normal;
}
.Point07 td.Mobile.Label.Left:before {
    content: none;
    white-space: normal;
}
.Point07.LH .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {
    width: auto;
}
td.Mobile.Label.Left {
    margin-left: -2%;
}
.PRSection .EmojiRated .DemoResp, .Point07.HL .EmojiRated .RatedSection .RatedQuest .Selector, .DemoQuest .EmojiRated .DemoResp {

}   
.Point07.HL .EmojiRated .RatedQuest .Selector div {
    visibility: visible !important;
    color: transparent;
    background-color: transparent !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .NavSection input, .NavSection button {
    }
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .RatedQuest .Selector .Wrapper {
        width: 1.1em !important;
    }
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .buttonshape .RatedQuest .Selector .Wrapper {
        width: 1.1em !important;
        height: 1.1em !important;
        border-radius: 20px !important;
        line-height: 2.1em;
        padding-top: 0px !important;

    }
    .Span {
       
    }
    .Point07 .ResponseSet {
        margin: 0;
    }
    .LangSelect {
        top: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .LangSelect {
        top: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .LangSelect {
        top: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .LangSelect {
        top: 100px;
    }
    td.Label.Center {
        max-width: 60px;
        font-size: .8em;
    }
    .Span {
    }
}
@media (min-width: 1000px) {
    
    .DemoQuest .Span, .RatedQuest .RatedQuest {
        width: 55%;
    }
    .Point07 .RatedSection .RatedQuest td.Selector {
       width: auto;
    }
    td.Label.Center {
        max-width: 60px;
    }
    td.Selector {
        
    }
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .buttonshape .RatedQuest .Selector .Wrapper {
       margin: 0 auto;
    }
    .Point07.LH .EmojiRated .RatedQuest .Selector, .Point07.HL .EmojiRated .RatedQuest .Selector {

    }
    .Point07.LH .RatedQuest .Selector .Wrapper, .Point07.HL .RatedQuest .Selector .Wrapper {
        margin: 0 auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}